/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

h1{
  color: red;
}

div{
  background: blue;
  border: orange;
  border-width: thick; /* 10 px */
  border-style: dotted;

  }

span{
  background: red;
  color: black;
}
